*{
    padding: 0px;
    margin: 0px;
}
                   /* header */
 .header{
        display: flex;
        flex-direction: row;
        /* padding: 8px; */
        justify-content: center;
        position: relative;
        width: 100%;
    
    }
    .logo{
        height: 80px;
        width:160px;
        float: left;
    
    }
    .menulist{
        list-style-type: none;
        margin-top: 35px;
        margin-left: 50px;
        overflow: hidden;
    }
    
    .menulist-items, .menulist-items1, .menulist-items2, .menulist-items3, .menulist-items4,.menulist-items5,.menulist-items6{
        display: inline;
        font-weight: bold;
        margin-left: 25px;
    }
    
    .menulist-items>a, .menulist-items1>a, .menulist-items2>a, .menulist-items3>a, .menulist-items4>a, .menulist-items5>a, .menulist-items6>a{
        text-decoration: none;
        font-size: 20px;
        color:black;
    }
    .menulist-items a:hover,.menulist-items1 a:hover,.menulist-items2 a:hover,.menulist-items3 a:hover,.menulist-items4 a:hover,.menulist-items5 a:hover,.menulist-items6 a:hover{
        text-decoration: underline;
    }
    .header>button{
        text-align: center;
        box-shadow: 1px 1px 3px grey;
        width:10%;
        height:50px;
        margin-left: 25px;
        border-radius: 20px;
        border-color: transparent;
        margin-top: 12px;
    }
    .download-app{
        background-color:#f2c434;
    }
    .bookride{
        background-color:red;
        
    }
    button a{
        text-decoration: none;
        color:white;
        font-size: 15px;
        text-shadow: 2px 2px 6px black;
        font-weight: bold;
    }


/* blog page */
.blog{
    background-color:transparent;
    /* padding: 10px; */
    border:1px solid goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:5px;
}

.blog>h1{
    text-align: center;
    font-family:"Roboto";
    color: black;
    padding: auto;
    font-size: 50px;
}
.blogdata{
    /* margin: 20px; */
    /* padding: 50px; */
    display: flex;
    flex-direction: column;
    background-color:#f8c835;
    border-radius: 120px;
    align-items: center;
}
.blogimage{
    height: 420px;
    width: 780px;
    margin-top: 20px;
    border-radius: 50px;
    margin-left:7%;

}

.blogimage2{
    height: 940px;
    width: 780px;
    margin-top: 20px;
    border-radius: 50px;
    margin-left:7%;

}
.blogdata>p{
    font-size: 20px;
    word-spacing: 5px;
    margin-top: 20px;
    width: 50%;
    text-align: justify;
}

.blogdata>h4{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 50px;
}

                     /* footer */

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        background-color:black;
        bottom: 0px;
        width: 100%;
    
    }
    
    .footer-content{
        display: flex;
        /* flex-direction: row; */
        justify-content: center;
    }
    .appinfo>h2,.appinfo1>h2{
        color: white;
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .appinfo,.appinfo1,.appinfo2,.appinfo3.appinfo4{
    
        display: flex;
        flex-direction: column;
        padding: 1px;
        font-size: 10px;
        margin-left: 25px;
    }
    
    .appinfo>a{
        margin-top: 15px;
        margin-bottom: 15px;
    }  
    .appinfo1>img{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .appinfo-menulist2,.appinfo-menulist3,.appinfo-menulist4{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        list-style-type:none;
        margin-left: 25px;
        margin-top: 20px;
    }
    
    .appinfo-menulist h3{
        color: white;
        margin-left: 5px;
    }
    
    .footer>hr{
        width:100%;
        color:grey;
    }

    .appinfo-menulist2>li{
        padding-top: 15px;
        font-size: 20px; 
    
    }
    .appinfo-menulist2>li>a{
        color: white;
        text-decoration: none;
    }
    .appinfo-menulist3>li{
        padding-top: 15px;
        font-size: 20px; 
        margin-left: 50px; 

    }
    .appinfo-menulist3>li>a{
        color: white;
        text-decoration: none;
    }
    .appinfo-menulist4>li{
        padding-top: 15px;
        font-size: 20px; 
        margin-left: 50px;  
    }
    .appinfo-menulist4>li>a{
        color: white;
        text-decoration: none;
    }
    .appinfo-menulist4>li>i{
     font-size: 20px;
     margin-right: 10px;
     color: white;
    }
    .copyright{
        color: white;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
    }






              /* tablet */

    @media screen and (min-width:426px) and (max-width:768px){
        /* header */

                                                    
        .header{
            width: 2500px;
        }
        .logo{
            height: 150px;
            width:200px;
        
        }
        .menulist{
            margin-top: 70px;
            margin-left: 20px;
        }
        
        .menulist-items, .menulist-items1, .menulist-items2, .menulist-items3, .menulist-items4,.menulist-items5,.menulist-items6{
        
            margin-left: 10px;
        }
        
        .menulist-items>a, .menulist-items1>a, .menulist-items2>a, .menulist-items3>a, .menulist-items4>a, .menulist-items5>a, .menulist-items6>a{
            padding: 30px;
            font-size: 40px;
        }
        .header>button{
            margin-left: 40px;
            margin-top: 55px;
            width:12%;
            height:80px;
        }
        button a{
            font-size: 25px;
        }
    
        /* blog */

    .blogimage{
        height: 420px;
        width: 580px;
        margin-top: 20px;
        border-radius: 50px;
        margin-left: 5%;
    
    }
    body{
        width: max-content;
        
    }
    .blog{
        width: 2000px;
        margin-left: 200px;
       
    }
    .blog .blogdata{
        margin-left: 0px;
    }
    
    .blogimage2{
        height: 640px;
        width: 600px;
        margin-top: 20px;
        border-radius: 50px;
        margin-left: 5%;
    
    }
    .blogdata>p{
        font-size: 40px;
        word-spacing: 5px;
        color:#000000;
        margin-top: 15px;
        
    }
    .blogdata>h4{
        font-size: 60px;
    }

    /* footer */

    
.footer{
  
    bottom: 0px;
    width: 2500px;
    height: 700px;

}


.appinfo>h2,.appinfo1>h2{
    font-size: 70px;
   
}

.appinfo,.appinfo1,.appinfo2,.appinfo3.appinfo4{

    display: flex;
    flex-direction: column;
    padding: 3px;
    font-size: 30px;
    margin-left: 25px;
}

.footer .appinfo>a>img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
}  
.appinfo1>img{
    margin-top: 15px;
    margin-bottom: 15px;
}

.appinfo-menulist2,.appinfo-menulist3,.appinfo-menulist4{
    display: flex;
    flex-direction: column;
    list-style-type:none;
    margin-left: 25px;
    margin-top: 20px;
}

.appinfo-menulist h3{
    color: white;
    margin-left: 5px;
}

.footer>hr{
    width:100%;
    color:grey;
}

.appinfo-menulist2>li{
    padding-top: 15px;
    font-size: 40px; 

}
.appinfo-menulist2>li>a{
    color: white;
    text-decoration: none;
}
.appinfo-menulist3>li{
    padding-top: 15px;
    font-size: 40px; 
    margin-left: 50px; 

}
.appinfo-menulist3>li>a{
    color: white;
    text-decoration: none;
}
.appinfo-menulist4>li{
    padding-top: 15px;
    font-size: 40px; 
    margin-left: 50px;  
}
.appinfo-menulist4>li>a{
    color: white;
    text-decoration: none;
}
.appinfo-menulist4>li>i{
 font-size: 40px;
 margin-right: 10px;
 color: white;
}
.copyright{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 40px;
}



}

                    /* mobile */

           @media  screen and (max-width:426px) {
        
    /* header */


    .header{
        width: max-content;
    }
    .header>img{
        margin-left: 100px;
    }
  .header .menulist{
    width: 600px;
  }
.menulist{
    display: none;
}
  .header .menulist .menulist-items{
    margin-top: 100px;
  }
  .header .download-app {
    margin-top: 200px;
    margin-left: 150px;
    width: 400px;
    height: 100px;

  }
  .header .bookride{
    margin-top: 200px;
    width: 400px;
    height: 100px;
  }
.header .download-app>a{
    font-size: 50px;
    padding: 10px;
  }
.header .bookride>a{
    font-size: 50px;
    padding: 10px;
  }
    .logo{
        height: 390px;
        width:350px;
    
    }
    .menulist{
        margin-top: 100px;
        margin-left: 40px;
    }
    
    .menulist-items, .menulist-items1, .menulist-items2, .menulist-items3, .menulist-items4,.menulist-items5,.menulist-items6{
    
        margin-left: 50px;
        padding-top: 10PX;
    }
    
    .menulist-items>a, .menulist-items1>a, .menulist-items2>a, .menulist-items3>a, .menulist-items4>a, .menulist-items5>a, .menulist-items6>a{
        padding: 70px;
        font-size: 50px;
        margin: 50px;
    }
    .header>button{
        margin-left: 40px;
        margin-top: 55px;
        width:12%;
        height:80px;
        display: block;
    }
    button a{
        font-size: 25px;
    }

                /* blog */
    .blog{
        background-color:transparent;
        padding: 10px;
        border:1px solid goldenrod;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:5px;
        width: 1600px;
    }
    
.blog>h1{
    text-align: center;
    font-family:"Roboto";
    color: black;
    padding: auto;
    font-size: 60px;
}
    .blogimage{
        height: 420px;
        width: 600px;
        margin-top: 20px;
        border-radius: 50px;
        margin-left: 15%;
        margin-right: 15%;
    
    }
    
    .blogimage2{
        height: 470px;
        width: 600px;
        margin-top: 20px;
        border-radius: 50px;
        margin-left: 15%;
        margin-right: 15%;
    
    }
    .blogdata>p{
        font-size: 32px;
        word-spacing: 2px;
        margin-top: 15px;
        
    }
    .blogdata>h4{
        font-size: 60px;
    }
    /* footer */

    .footer{
   
        bottom: 0px;
        width: 1650px;
        height:2500px;
    
    }
    
     .footer-content{
        display: block;
        justify-content: center;
     }
    
    .appinfo>h2,.appinfo1>h2{
        font-size: 70px;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 10px; 
    }
    
    .appinfo,.appinfo1{
    
        display: block;
        padding: 3px;
        font-size: 30px;
        margin-left: 50px;
        margin-top: 0px;
    }
    
    .appinfo>a>img{
        margin-top: 5px;
        margin-bottom: 25px;
        margin-left: 220px;
        height: 150px;
        width: 500px;
    }  
    .appinfo1>img{
        margin-top: 5px;
        margin-bottom: 25px;
        margin-left: 220px;
        height: 150px;
    }
    
     .appinfo-menulist2,.appinfo-menulist3,.appinfo-menulist4{
        display: flex;
        flex-direction: column;
     justify-content: center; 
        list-style-type:none;
        margin-left: 25px;
        margin-top: 40px;
    }
    .appinfo-menulist h3{
        margin-left: 5px;
    }
    
    .appinfo-menulist2>li{
        padding-top: 15px;
        font-size: 70px; 
    
    }
    .appinfo-menulist2>li>a{
        font-size: 70px; 
    }
    .appinfo-menulist3>li{
        padding-top: 15px;
        font-size: 70px; 
        margin-left: 50px; 
    
    }
    .appinfo2{
        margin-left: 400px;
    }
    .appinfo-menulist3>li{
        text-decoration: none;
    }
    .appinfo-menulist4>li{
        padding-top: 15px;
        font-size: 70px; 
        margin-left: 50px;  
        margin-top: 10px;
    }
    
    .appinfo-menulist4>li>i{
     font-size: 60px;
     margin-right: 10px;
    }
    .copyright{
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 50px;
    } 
    div.appinfo2, div.appinfo3, div.appinfo4{
    display:flex;
    flex-direction: column;
    margin-bottom: 30px;
    justify-content: center;
    }
    div.appinfo2{
        margin-left: 550px;
        margin-top: 50px;
    }
    div.appinfo3, div.appinfo4{
        margin-left: 500px;
        font-size: 50px;
        margin-top: 50px;
    
      }


}

            /* laptop */

@media screen and (min-width:768px) and (max-width:1025px){

/* header */

.header{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    position: relative;
    width: 155%;

}
.logo{
    height: 100px;
    width:180px;

}
.menulist{
    margin-top: 45px;
    margin-left: 60px;
}

.menulist-items>a, .menulist-items1>a, .menulist-items2>a, .menulist-items3>a, .menulist-items4>a, .menulist-items5>a, .menulist-items6>a{
    text-decoration: none;
    font-size: 28px;
    color:black;
}
.header>button{
    margin-left: 40px;
    margin-top: 35px;
    width:12%;
    height:60px;
}
button a{
    font-size: 20px;
}




/* blog */

/* body{
    width: max-content;
} */
.blog{
    margin-left: 50px;
    width: 1500px;
}



/* footer */
.footer{
    width: 160%;
    margin-left: -25px;
} 



}
